.container {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
  height: 100%;
}

.card_product {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 350px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 5px;
  }

  .des{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
.img_photo {
    width: 300px;
    height: 300px;
    margin: 5px;
    /* width: 40%; */
  }

  .first {
    display: flex;
    flex-direction: row;
  }
/* 
  .user_photo{
    width: 50px;
    height: 50px;
    margin: 5px;
  } */



.des_card{
  display: flex;
  flex-direction: column;

  justify-content: center;
}
  
.content_product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    /* color: #e8e8e8; */
    color: #000000;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
.content_product .product_name {
    font-weight: 700;
    font-size: 32px;
    /* width: 40%; */
  }
  
.content_product .product_description {
    line-height: 1.5;
    /* width: 40%; */
  }
  
.content_product .btn {
    /* color: #e8e8e8; */
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #a7c1bf 0%, #7e918a 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
.card_product::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #689c8b 0%, #9eb6b4 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
.card_product:hover::before {
    height: 100%;
  }
  
.card_product:hover {
    box-shadow: none;
  }
  
.card_product:hover .btn {
    color: #212121;
    background: #ffffff;
  }
  
.content_product .btn:hover {
    outline: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
  }
  
.content_product .btn:active {
    box-shadow: none;
  }

  @media (max-device-width: 800px) {
    .container {
      max-width: 700px;
      margin: 0px auto;
    }

    .card_product {
      /* position: relative; */
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      /* width: 350px; */
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      padding: 10px;
      overflow: hidden;
      border-radius: 10px;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      margin: 5px;
    }

    .img_photo {
      width: 200px;
      height: 200px;
      margin: 5px;
      /* width: 40%; */
    }

}

